# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data/cache/log files
*.log
*.csv
*.json
*.tsv
*.xlsx
*.db
*.sqlite

# OS and IDE files
.DS_Store
*.swp
*.swo
.idea/
.vscode/
*.bak

# Streamlit config
.streamlit/

